<a href="https://colab.research.google.com/github/sagunkayastha/ILab_Tutorials/blob/master/01_Python_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Python Introduction</h1>
<br>
<ul>
<li>Interpreted, High level Programming language</li>
<li>High emphasis on code readability</li>
<li>Open Source</li>
<li>Batteries Included</li>
<li><b>Garbage Collection</b></li>
<li>No need to declare variable and its data type</li>
</ul>

<h2>Package Manager</h2>
<br>
<b>pip</b>
<br>
<ul>
<li>installs packages from Python Package Index</li>
<li>only installs python packages</li>
<li>around 150,000 packages available in PyPi</li>
</ul>

# Built-in Datatypes
- int
- float
- bool

# Built-in Data Structures
- list
- str (string)
- tuple
- set
- dict (dictionary)

<span style="color:red">##################################################################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

# list
- Data structure that is mutable, ordered sequence of elements written in between [ ] 
- Eg. superheroes = ['batman', 'saitama', 'superman', 'spiderman']

**So, let's make a list of superheros and save them in a variable named 'superheroes'**

In [0]:
superheroes = ['batman', 'saitama', 'superman', 'spiderman']
print (superheroes)

['batman', 'saitama', 'superman', 'spiderman']

**Previously, we mentioned the terms 'mutable' and 'ordered sequence'. Let's understand them.**

- _**ordered sequence**_<br>
  contains a sequence of elements in a specific order

- _**mutable**_<br>
  can be changed or altered

**Indexing**
- Each element in a list corresponds to an index number
- Index is an integer value starting with 0

_**Index breakdown of the list looks like this:**_
<table>
    <tr>
        <td>ELEMENT</td>
        <td>batman</td>
        <td>saitama</td>
        <td>superman</td>
        <td>spiderman</td>
    </tr>
    <tr>
        <td>INDEX</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
</table>

In [0]:
print (len(superheroes))

4

In [0]:
print (superheroes[0])

batman

In [0]:
print (superheroes[3])

spiderman

In [0]:
print (superheroes[4])

IndexError: ignored

**Write a line of code that prints out '%your name% is the batman'**

**Replace the superhero in index position 3 with the name of your favourite superhero**

**Print the elements of the new list**

<br>
<br>

## Slicing

**Get only two superheroes in the middle from the list**

**Get only first two superheroes from the list**

**Get only last two superheroes from the list**

**Get the superheroes from the alterating positions of the list**

## Modifying list with operators

In [0]:
print (superheroes + ['ironman', 'hanuman'])

['batman', 'saitama', 'superman', 'spiderman', 'ironman', 'hanuman']

In [0]:
print (superheroes * 2)

['batman', 'saitama', 'superman', 'spiderman', 'batman', 'saitama', 'superman', 'spiderman']

## Removing an item from the list

In [0]:
del superheroes[1]
print (superheroes)

['batman', 'superman', 'spiderman']

In [0]:
superheroes = ['batman', 'saitama', 'superman', 'spiderman']

In [0]:
del superheroes[1:3]
print (superheroes)

## Nested Lists
_list of lists_

In [0]:
female_superheroes = ['wonder woman', 'jean grey', 'captain marvel', 'storm']

In [0]:
all_superheroes = [superheroes, female_superheroes]
print (all_superheroes)

[['batman', 'superman', 'spiderman'], ['wonder woman', 'jean grey', 'captain marvel', 'storm']]

## List methods

- ### append

In [0]:
all_superheroes = []

In [0]:
all_superheroes.append(superheroes)
print (all_superheroes)

In [0]:
all_superheroes.append(female_superheroes)
print (all_superheroes)

#### How would you access the value 'jean grey' from the newly formed list 'all_superheroes'?

- ### extend

In [0]:
all_superheroes = []

In [0]:
all_superheroes.extend(superheroes)
print (all_superheroes)

In [0]:
all_superheroes.extend(female_superheroes)
print (all_superheroes)

- ### insert

_syntax: list.insert(i,x)_
<br>
_i: position (index)_
<br>
_x: value to insert_

In [0]:
all_superheroes.insert(0, 'antman')
print (all_superheroes)

### Write the equivalent of all_superheroes.append('antman') with all_superheroes.insert

- ### remove

In [0]:
all_superheroes.remove('antman')
print (all_superheroes)

- ### pop
list.pop([i])
<br>
_i: index value (optional)_

In [0]:
all_superheroes.pop()
print (all_superheroes)

In [0]:
all_superheroes.pop(0)
print (all_superheroes)

- **Check membership of an element**

In [0]:
'superman' in all_superheroes

In [0]:
'hanuman' in all_superheroes

### For students to research and practice on their own

- list.clear
- list.index
- list.count
- list.sort
- list.reverse
- list.copy
<br><br>
- min(list)
- max(list)

<span style="color:red">##################################################################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## string (str)
_string is the sequence of characters written between the quotes_

In [0]:
school_name = "Sunway International Business School, Maitidevi "
print (school_name)

In [0]:
school_name = 'Sunway International Business School, Maitidevi '
print (school_name)

In [0]:
print (len(school_name))

**Print only the first character of the school_name**

**Print the characters from position 3 to 6**

### Common operations on string

- ### strip

In [0]:
school_name = school_name.strip()
print (school_name)

In [0]:
print (len(school_name))

**Change all the characters of 'stripped_school_name' to uppercase and store it in variable 'school_name_upper'**

**change all the characters of 'stripped_school_name' to lowercase and store it in variable 'school_name_lower'**

**What will the following code do??**

In [0]:
new_school_name = school_name.replace('u', 'o')
print (new_school_name)

- ### split

**What will be the output of the following code??**

In [0]:
print (school_name.split())

In [0]:
school_name = school_name.split(',')
print (school_name)

- ### concatenation

- method 1

In [0]:
school_name_concat = school_name[0] + school_name[1]
print (school_name_concat)

school_name_concat1 = school_name[0] + ',' + school_name[1]
print (school_name_concat1)

- method 2

In [0]:
school_name_concat = "{}{}".format(school_name[0], school_name[1])
print (school_name_concat)

school_name_concat1 = "{name},{address}".format(name=school_name[0], address=school_name[1])
print (school_name_concat1)

- method 3

In [0]:
school_name_concat = "".join(school_name)
print (school_name_concat)

school_name_concat1 = ",".join(school_name)
print (school_name_concat1)

#### What will the following code do?

In [0]:
print (school_name_concat * 2)

<span style="color:red">##################################################################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## tuple

_immutable sequence of elements that is written inside parenthesis_

- _creating empty tuple_

In [0]:
empty_tuple = ()
print (empty_tuple)
print(type(empty_tuple))

In [0]:
empty_tuple = tuple()
print (empty_tuple)
print (type(empty_tuple))

- _creating tuples with data_

In [0]:
tuple1 = (1,2,3,4,5)
print (tuple1)

In [0]:
tuple2 = 1,2,3,4,5
print (tuple2)
print (type(tuple2))

In [0]:
superheroes = ('batman', 'saitama', 'superman', 'spiderman')
print (superheroes)

#### data can be accessed in tuples similarly as in lists

In [0]:
print (superheroes[0])

In [0]:
print (superheroes[0:2])

**Try changing the value of the first element of tuple1 to 'antman'. Why did you get such result?**

In [0]:
superheroes[0] = 'antman'

### <span style="color:green">At this point, students are expected to try out all the operations that we did with the lists in previous exercises and observe the differences</span>
<br>
- length<br>
- min<br>
- max<br>
- concatenation<br>
- repitition<br>
- membership<br>

**Print the length of the tuple**

**Print the minumum value in the tuple. Try it in a tuple of strings also.**

**Print the maximum value in the tuple. Try it in a tuple of strings also.**

#### Concatenate two different tuples

#### Apply repitition with '*' operator in tuple.

#### Check the membership of an element in the tuple

#### tuple unpacking

In [0]:
a,b,c,d = superheroes
print (a)
print (b)
print (c)
print (d)

<span style="color:red">##################################################################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## set

_non repetitive unordered collection of elements_

#### creating sets

In [0]:
superheroes = set(('batman', 'batman', 'saitama', 'superman', 'spiderman'))
print (superheroes)

In [0]:
superheroes = set(['batman', 'batman', 'saitama', 'superman', 'spiderman'])
print (superheroes)

In [0]:
superheroes1 = {'batman', 'batman', 'saitama', 'superman', 'spiderman'}
print (superheroes1)

In [0]:
superheroes2 = {'antman', 'ironman', 'batman', 'superman'}
print (superheroes2)

#### Names in superheroes1 but not in superheroes2

In [0]:
print (superheroes1-superheroes2)

#### Names in superheroes1 or superheroes2 or both

In [0]:
print (superheroes1 | superheroes2)

#### Names in both superheroes1 and superheroes2

In [0]:
print (superheroes1 & superheroes2)

#### Names in superheroes1 or superheroes2 but not in both

In [0]:
print (superheroes1 ^ superheroes2)

#### Try accessing elements from the set like in list by index. What was the result?

In [0]:
superheroes[0]

#### check membership of an element in the set

In [0]:
'batman' in superheroes

In [0]:
'antman' in superheroes

<span style="color:red">###################################A###############################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## Dict (dictionary)

_Indexed by keys unlike in sequences where elements are indexed by a range of numbers_
<br>
_keys can be any immutable type_

#### creating dictionaries

In [0]:
total_marks = dict()
print (total_marks)
print (type(total_marks))

In [0]:
total_marks = {}
print (total_marks)
print (type(total_marks))

#### Creating dictionary of the marks obtained by the students of a class

In [0]:
total_marks = {'ram': 99, 'shyam': 85, 'hari': 55, 'gita': 65, 'sita': 87, 'rita':45}
print (total_marks)

In [0]:
total_marks = dict([('ram', 99), ('shyam', 85), ('hari', 55), ('gita', 65), ('sita', 87), ('rita', 45)])
print (total_marks)

 ### Try using different datatypes / structures as key of the dictionary

#### Use integer as Keys

In [0]:
total_marks = {1: 99, 2: 85, 3: 55, 4: 65, 5: 87, 6:45}
print (total_marks)

#### Use float as keys

In [0]:
total_marks = {1.0: 99, 2.0: 85, 3.0: 55, 4.0: 65, 5.0: 87, 6.0:45}
print (total_marks)

#### Use tuple as keys

In [0]:
total_marks = {(1,2): 99, (2,3): 85, (3,4): 55, (4,5): 65, (5,6): 87, (6,7):45}
print (total_marks)

#### Use set as keys

In [0]:
total_marks = {{1,2}: 99, {2,3}: 85, {3,4}: 55, {4,5}: 65, {5,6}: 87, {6,7}:45}
print (total_marks)

#### Use list as keys

In [0]:
total_marks = {[1,2]: 99, [2,3]: 85, [3,4]: 55, [4,5]: 65, [5,6]: 87, [6,7]:45}
print (total_marks)

### Did you find out what can be used as keys?? write down the types that can be used as keys in the dictionary

### Accessing dictionaries

#### items

In [0]:
total_marks = {'ram': 99, 'shyam': 85, 'hari': 55, 'gita': 65, 'sita': 87, 'rita':45}

print (total_marks.items())

#### keys

In [0]:
print (total_marks.keys())

#### values

In [0]:
print (total_marks.values())

#### Print out the marks of shyam

#### Change the marks of shyam to 70 and print the updated dictionary

### List, tuple, set, dict : when to use?

- **list** : Use list if you have a collection of data that needs to be iterable, indexed and changed.
- **set** : When you need uniqueness of the elements that is iterable and mutable and order of elements is not important
- **tuple** : When you need ordered, iterable and immutable collection of data.
- **dictionary** : When you need logical association between key:value pair.
<br>
<br>
- Time complexity to access the value of a key in dict and membership check in set is O(1).
- Time complexity for membership check in lists and tuples is O(n).

#### Study about the hash table implementation in dict and set to find why set and dict are faster that list and tuple for membership checking

<span style="color:red">###################################A###############################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## Conditional Statements and loops

#### conditional statements:
<br>
Syntax:
<br>
<br>
if condition:<br>
&emsp;statement

#### Basic implementation

In [0]:
if True:
    print ("condition was True")

In [0]:
a = 100

if a == 10:
    print ("if condition was true")
    
else:
    print ("if condition was not true")

#### Examples of if statement implementation<br>
#### What do you think each of the following conditions will print out?

In [0]:
a = True
b = False

if a < b:
    print ('yes')
else:
    print ('no')

In [0]:
if a:
    print ('yes')
else:
    print ('no')

In [0]:
if a or b:
    print ('yes')
else:
    print ('no')

In [0]:
if a and b:
    print ('yes')
else:
    print ('no')

In [0]:
if (a or True) and (a or False):
    print ('yes')
else:
    print ('no')

In [0]:
a = "sunway"

if 'sun' in a:
    print ('yes')
else:
    print ('no')

#### Nested conditions

In [0]:
a = 10
b = ['batman', 'saitama', 'superman', 'spiderman']

if 'batman' in b:
    
    print ("outer condition is true")
    
    if a > 100:
        print ("inner if condition is true")
        
    print ("between two if conditions")
    
    if a > 50:
        print ("second inner if condition is true")
        
    elif a >= 10:
        print ("inner elif condition if true")
        
    else:
        print ("inner else condition")
        
    print ("end of outer condition")
    
print ("exit from outer condition")

### Loops

#### While loop

![image.png](attachment:image.png)

In [0]:
count = 0
while (count < 10):
    print ("loop : {}".format(count))
    count += 1
print ("completed")

In [0]:
count = 0
while True:
    print ("loop: {}".format(count))
    count += 1
    if count == 10:
        break

**For loops**

![for_loop.png](attachment:for_loop.png)

In [0]:
for i in range(10):
    print (i)

In [0]:
superheroes = ['batman', 'saitama', 'superman', 'spiderman']

for hero in superheroes:
    if hero.startswith('s'):
        print (hero)

In [0]:
for num, hero in enumerate(superheroes):
    print ("Hero number {}: {}".format(num, hero))

<span style="color:red">###################################A###############################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## Comprehensions

- List Comprehensions
- Dictionary Comprehensions
- Set Comprehensions
- Generator Comprehensions

### List Comprehension

### Q. Given a list of superheroes, create another list named 'new_list' containing the names that starts with 's'.
#### &emsp; concepts to consider: startswith method of string, list, append, if condition, for loop
&emsp; superheroes = ['batman', 'saitama', 'superman', 'spiderman']

In [0]:
new_list = []
for hero in superheroes:
    if hero.startswith('s'):
        new_list.append(hero)
print (new_list)

#### Do the same task in single line of code

In [0]:
new_list = [hero for hero in superheroes if hero.startswith('s')]
print (new_list)

### How did this work?
#### The answer is list comprehension
<br>
Basic syntax <br>
&emsp; [ expression for item in list if conditional ]

### Q. Change the below list of strings in lowercase characters to uppercase if the element of list endswith 'man'.
&emsp; superheroes = ['batman', 'saitama', 'superman', 'spiderman']

In [0]:
superheroes = ['batman', 'saitama', 'superman', 'spiderman']
superheroes = [hero.upper() for hero in superheroes if hero.endswith('man')]
print (superheroes)

### Set Comprehension

In [0]:
superheroes = set(('batman', 'batman', 'saitama', 'superman', 'spiderman'))
superheroes = { hero.upper() for hero in superheroes if hero.endswith('man') }
print (superheroes)

### Dictionary comprehension

In [0]:
superheroes = ['batman', 'saitama', 'superman', 'spiderman']
superheroes_dict = {}
for i, hero in enumerate(superheroes):
    superheroes_dict[i] = hero
print (superheroes_dict)

In [0]:
superheroes_dict = { i:hero for i,hero in enumerate(superheroes) }
print (superheroes_dict)

In [0]:
superheroes_dict = { key:value.upper() for key,value in superheroes_dict.items() }
print (superheroes_dict)

### Generator Comprehension

In [0]:
numbers = (0,1,2,3,4,5,6,7,8,9)
print (numbers)

In [0]:
numbers = [i for i in range(10)]
print (numbers)

In [0]:
numbers = ( i for i in range(10) )
print (numbers)

In [0]:
print (next(numbers))

In [0]:
print (next(numbers))

In [0]:
for i in numbers:
    print (i)

In [0]:
print (next(numbers))

__! Important: Values in generator cannot be used more than once__

In [0]:
numbers = ( i for i in range(10) )
print ("generator: ", numbers)
numbers = list(numbers)
print ("list: ", numbers)

#### We will talk more about generators in later session

<span style="color:red">###################################A###############################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## Function

In [0]:
def add_numbers(parameter_a, parameter_b):
    """This function adds two numbers 'parameter_a' and 'parameter_b' and returns the sum"""
    sum = parameter_a + parameter_b
    print ("print statement before return")
    return sum
    #other statements after return will not execute
    print ("print statement after return")

In [0]:
print (add_numbers.__doc__)

In [0]:
sum = add_numbers(10,20)
print (sum)

In [0]:
a = 10
b = 20
sum = add_numbers(a,b)
print (sum)

### Write a function that takes person's name as paramter and greets the person. Eg. "Good morning, _name_"

### Types of function arguments

- **Required arguments**
- **Keyword arguments**
- **Default arguments**
- **Variable-length arguments**

#### Required arguments
<br>_Required arguments are the arguments passed to a function in correct positional order._

In [0]:
def person(name, age):
    """This prints the persons name and age"""
    print ("{} is {} years old.".format(name, age))
    return;

In [0]:
person()

In [0]:
person('Ram', 27)

In [0]:
person(27, 'Ram')

#### Keyword Arguments

In [0]:
person(age=27, name='Ram')

#### Default arguments

In [0]:
def person(name, age=25):
    """This prints the persons name and age"""
    print ("{} is {} years old.".format(name, age))
    return;

In [0]:
person('Ram')

In [0]:
person(age=27, name='Ram')

In [0]:
person(age=27, 'Ram')

#### Variable-length arguments

In [0]:
def students(*student_names):
    """This prints out all the names of the students"""
    for student in student_names:
        print (student)

In [0]:
students('ram', 'shyam', 'sita', 'geeta')

### Annonymous functions

**Functions that are not declared in the standard manner by using the def keyword**

In [0]:
sum = lambda x, y: x+y
print (sum(5,6))

In [0]:
student = lambda name, age : "{} is {} years old".format(name, age)
print (student('ram', '22'))

### Global vs Local variables
Variables that are defined inside a function body have a local scope, and those defined outside have a global scope.

<span style="color:red">###################################################################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## Generators

#### Simply put, generator generates values.
_Just like normal function. But whenever it needs to generate a value, it does so with the 'yield' keyword rather than 'return'_

In [0]:
def students_name_generator():
    yield 'ram'
    yield 'shyam'
    yield 'hari'

In [0]:
students = students_name_generator()

In [0]:
print ( next(students) )

In [0]:
print ( next(students) )

In [0]:
print ( next(students) )

In [0]:
print ( next(students) )

In [0]:
def numbers_generator(num):
    for i in range(num):
        yield i*2

In [0]:
number = numbers_generator(10)

In [0]:
for i in number:
    print (i)

In [0]:
number = numbers_generator(10)

In [0]:
print ( (next(number)) )

In [0]:
print ( (next(number)) )

In [0]:
for i in number:
    print (i)

<span style="color:red">###################################################################################################################</span><br>
<span style="color:red">##################################################################################################################</span><br>

## Class

**Lets start with an example**

In [0]:
class Student:
    """Base class for all the students of the class"""
    
    total_students = 0
    
    def __init__(self, name, age, class_, total_marks):
        print ("__init__ method is executed")
        self.name = name
        self.age = age
        self.class_ = class_
        self.total_marks = total_marks
        
        Student.total_students += 1

    def get_total_students_count(baal):
        print ("get_total_students_count is executed")
        return Student.total_students
    
    def display_total_students_count(self):
        print ("display_total_students_count is executed")
        print ("Total number of students: {count}", count=Students.total_students)
        
    def get_age(self):
        print ("get_age is executed")
        return self.age
    
    def get_class(self):
        print ("get_class is executed")
        return self.class_
    
    def get_total_marks(self):
        print ("get_total_marks is executed")
        return self.total_marks
    
    def set_total_marks(self, new_marks):
        print ("set_total_marks is executed")
        self.total_marks = new_marks
    
    def get_complete_information(self):
        print ("get_complete_information is executed")
        student = {
            "name": self.name,
            "class": self.class_,
            "age": self.age,
            "total_marks": self.total_marks
        }
        return student

In [0]:
student1 = Student('ram', '20', 'CSIT', '400')
print (student1)

In [0]:
student2 = Student('shyam', '21', 'CSIT', '420')
print (student2)

- \__init\__ is a constructor that is used to initialize the values in the class object
- class attributes
- instance attributes

In [0]:
print ( student1.age )

In [0]:
print ( student1.get_total_students_count() )

In [0]:
print ( student2.get_total_students_count() )

In [0]:
student2.get_total_marks()

In [0]:
student2.set_total_marks(380)

In [0]:
print (student2.get_total_marks())

### Built-ins

In [0]:
Student.__name__

In [0]:
Student.__doc__

In [0]:
Student.__module__

In [0]:
Student.__dict__

In [0]:
student1.__dict__

### Inheritance

In [0]:
class StudentDetails(Student):
    """This inherits the Student class and adds additional details"""
    def __init__(self, address, father_name, *args):
        self.address = address
        self.father_name = father_name
        Student.__init__(self, *args)
        print (*args)

In [0]:
student1_detail = StudentDetails("Baneshwor", "sitaram", "ram", 20, "CSIT", 399)

In [0]:
class StudentDetails(Student):
    """This inherits the Student class and adds additional details"""
    def __init__(self, address, father_name, *args):
        self.address = address
        self.father_name = father_name
        Student.__init__(self, *args)
        print (*args)
        
    def set_total_marks(self, marks):
        print ("this is function overriding")
        self.total_marks = marks
        
    def get_address(self):
        print ("This is a new method in child class")
        return self.address

In [0]:
student_details1 = StudentDetails("Baneshwor", "sitaram", "ram", 20, "CSIT", 399)
print (dir(student_details1))

In [0]:
print ( student_details1.age )

####  Try out few other operations on the newly constructed object

## I/O

#### Taking user input

In [0]:
def count_characters(string):
    return len(string)

input_string = input("Enter any string: ")

length = count_characters(input_string)
print ("The length of ''{}'' is {}".format(input_string, length))

#### Working with files

In [0]:
input_file = 'data.csv'

data_file = open(input_file)
print (data_file)

In [0]:
data = data_file.readlines()
print (data)

In [0]:
for line in data:
    print (line)

In [0]:
first_line = data[0]
print (first_line)
print (len(first_line))

In [0]:
stripped_first_line = first_line.strip()
print (stripped_first_line)
print (len(stripped_first_line))

#### check and close opened file

In [0]:
data_file.closed

In [0]:
data_file.close()

In [0]:
data_file.closed

In [0]:
data_file.readlines()

#### using 'with' and 'as' to work with files

In [0]:
with open(input_file) as data_file:
    data = data_file.readlines()
    print (data)

In [0]:
data_file.closed

## Exceptions

Python has many built-in exceptions which forces the program to output an error when something in it goes wrong.

When these exceptions occur, it causes the current process to stop and passes it to the calling process until it is handled. If not handled, our program will crash.
<br>
For full details on different built-in exceptions refer to: https://docs.python.org/3/library/exceptions.html

In [0]:
def compute_square(number):
    square = number ** 2
    return square

print ("computation started")
print ( compute_square('a') )
print ("program finished successfully")

#### Handling exceptions

In [0]:
def compute_square(number):
    try:
        square = number ** 2
    except TypeError as e:
        return e
    return square

print ("computation started")
print ( compute_square('a') )
print ("program finished successfully")

#### return custom message from except block

In [0]:
def compute_square(number):
    try:
        square = number ** 2
    except TypeError as e:
        return "Input number must be an integer or a float"
    return square

print ("computation started")
print ( compute_square('a') )
print ("program finished successfully")

#### Multiple except blocks and wildcard exception catcher

In [0]:
def compute_square(number):
    try:
        square = number ** 2
    except SyntaxError as e:
        return "SyntaxError occured"
    except TypeError as e:
        return "TypeError occured"
    except Exception as e:
        return e
    return square

print ("computation started")
print ( compute_square('a') )
print ("program finished successfully")

In [0]:
!df -h

Filesystem      Size  Used Avail Use% Mounted on
overlay          49G   24G   24G  50% /
tmpfs           6.4G     0  6.4G   0% /dev
tmpfs           6.4G     0  6.4G   0% /sys/fs/cgroup
tmpfs           6.4G  8.0K  6.4G   1% /var/colab
/dev/sda1        55G   25G   31G  45% /etc/hosts
shm             6.0G  4.0K  6.0G   1% /dev/shm
tmpfs           6.4G     0  6.4G   0% /sys/firmware

In [0]:
!free -h

              total        used        free      shared  buff/cache   available
Mem:            12G        369M         10G        868K        1.5G         12G
Swap:            0B          0B          0B

In [0]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.